.notificationcontainer {
  margin-top: 4vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 12vh;
}

.notificationHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 30vw;
}

.notificationHeader1 {
  font-size: 5vw;
  color: white;
}

.notificationHeaderText {
  font-size: 2.5vw;
  cursor: "pointer";
  background-color: #1e1e1e;
  color: white;
  border: 1px solid #1e1e1e;
  padding: 1vh;
  border-radius: 5px;
}

.notificationTable {
  display: flex;
  background-color: #1e1e1e;
  justify-content: space-between;
  height: 3.5vh;
  padding: 1vh 2vw;
  width: 80vw;
  border-radius: 3px;
  color: #f7fae8;
  align-items: center;
  margin-top: 1vh;
}

.notificationInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.notificationInfoH {
  font-size: 3.4vw;
}

.notificationInfoT {
  font-size: 2.3vw;
}

.notificationImg {
  width: 8vw;
  border-radius: 5px;
  object-fit: cover;
}
