.card {
  background-color: #1e1e1e;
  width: 85vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #f7fae8;
  border-radius: 10px;
  margin: 2vh 0;
  margin-top: 10vh;
}

.AccountInfo {
  display: flex;
  gap: 20vw;
  justify-content: center;
  align-items: center;
}

.accountBal {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: top;
}

.balance {
  font-size: 6vw;
}

.greeting {
  font-size: 3vw;
  color: #e86800;
}

.vl {
  border: 1px solid #f7fae8;
  width: 70vw;
  opacity: 0.5;
}
.transBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.transDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.transaction {
  font-size: 2.5vw;
}

/* CREDITCARDFROM */
.creditCardForm {
  display: flex;
  flex-direction: column;
  width: 83vw;
  height: 30vh;
  padding: 0.5vh;
  background-color: #1e1e1e;
  border-radius: 5px;
}

.cardInfo {
  display: flex;
  flex-direction: column;
  padding: 0.5vh;
}

.cardInfoDetails {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  justify-content: center;
  align-items: center;
}

.cardInfolabels {
  font-size: 2.5vw;
}

.cardOtherInfo {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  padding: 2vw;
  gap: 3vw;
}

.cardOtherInfos {
  display: flex;
  flex-direction: column;
}

.inputfieldLong {
  width: 70vw;
}

.inputfieldShort {
  width: 30vw;
}



input {
  border: none;
  padding: 2px;
  border-radius: 2px;
}

input:hover {
  border: none;
}

.conCardbtn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 1vh;
  gap: 2vw;
}

.cardbtn {
  border: none;
  background-color: #54514e;
  text-align: center;
  padding: 0.8vh;
}
.cardbtnCancel {
  border: none;
  background-color: #aa400f;
  text-align: center;
  padding: 0.8vh;
}
