.card {
  background-color: #1f332c;
  width: 85vw;
  height: 25vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: #f7fae8;
  border-radius: 10px;
  margin: 2vh 0;
  margin-top: 10vh;
}

.AccountInfo {
  display: flex;
  gap: 20vw;
  justify-content: center;
  align-items: center;
}

.accountBal {
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: top;
}

.balance {
  font-size: 7vw;
}

.vl {
  border: 1px solid #f7fae8;
  width: 70vw;
  opacity: 0.5;
}
.transBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5vw;
}

.transDiv {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
}

.transaction {
  font-size: 2.5vw;
}
