.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10vh 0 5vh 0;
  background-color: #151515;
  color: white;
  height: 20vh;
}

/* #151515; */

.logoText {
  text-align: center;
  padding-inline: 3vw;
  font-size: 3.5vw;
  padding: 2vh 0;
  width: 80vw;
}

.input {
  padding: 4vh 0 2vh 0;
  color: #151515;
  display: flex;
  flex-direction: column;
  width: 90vw;
  gap: 1vh;
  height: 80vh;
}

.inputForm {
  height: 4vh;
  border: 1px solid #151515;
  color: #151515;
  padding: 5px;
}

.inputspan {
  display: flex;
  justify-content: space-around;
  margin-top: 4vh;
  font-size: 3vw;
  color: white;
  padding: 2vh 0;
  align-items: center;
}

.inputBtn {
  background-color: #1e1e1e;
  color: #ffffef;
  font-size: 4vw;
  margin-top: 1vh;
  border: 1px solid #1e1e1e;
  padding: 1.5vh 2vw;
  font-weight: 900;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

.inputLink {
  text-decoration: none;
  color: white;
  width: 90vw;
}

Link {
  text-decoration: none;
  color: #151515;
  width: 90vw;
}

.warning {
  text-align: center;
  font-size: 13px;
  text-align: center;
  position: fixed;
  bottom: 4vh;
  color: #ffffef;
  width: 80vw;
}

.github {
  color: burlywood;
  text-decoration: none;
  font-weight: bolder;
}
