.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  background-color: #151515;
  height: 100%;
  overflow: scroll;
  gap: 2vh;
  height: 100vh;
  background-size: cover;
}

.subcontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* .footerBar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  gap: 3vw;
  background: #1f332c;
  padding: 1vh 2vw;
  color: #f7fae8;
  padding: 1vh 4vw
} */
